@{
    ViewBag.Title = "Thanks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thanks</h2>

<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>Thanks for registered with this Tournament, The tournament Date and Teams detail will be send to your Email Address.</h1>

        </hgroup>

    </div>
</section>
